# ==========================
# Node Modules
# ==========================
backend/node_modules
frontend/node_modules

# ==========================
# Environment Files
# ==========================
backend/.env
frontend/.env
.env

# ==========================
# Build Files
# ==========================
frontend/dist
frontend/dist-ssr
backend/dist

# ==========================
# Logs
# ==========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================
# Local Configuration
# ==========================
*.local

# ==========================
# Editor Files
# ==========================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================
# Coverage
# ==========================
coverage

# ==========================
# Miscellaneous
# ==========================
*.pid
*.seed
*.pid.lock